/* 
Color Scheme:
#16593A
#025928
#F2EFE9
#F26444
#F2594B
*/

img{
  max-width:90%;
}
  
header.primary{
  background-color:#F2EFE9;
  padding:75px;
  background-image:url(../img/CSS-Image.png);
  background-repeat:no-repeat;
  background-size:cover;
  display:flex;
}

header.primary h1{
  color:#F2594B;
  text-shadow:2px 2px #000;
  margin:10px;
}

nav ul li{
list-style-type:none;
margin:auto;
}

nav ul li a{
  border-left:5px solid #16593A;
  text-decoration:none;
  color:#025928;
  font-size:1.0rem;
}

body {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 600;
  font-style: normal;
  margin: 0;
}

#colophon{
  text-align:center;
  color:#F2EFE9;
  background-color: #16593A;
  padding: 9px;
}