/* 
Color Scheme:
#16593A
#025928
#F2EFE9
#F26444
#F2594B
*/

  
body {
background-color:#F2EFE9;

  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 600;
  font-style: normal;
  margin: 0;
}

h1{
  background-color:#F2594B;
}

footer {
  background-color:#F26444;
}