/* 
Color Scheme:
#16593A
#025928
#F2EFE9
#F26444
#F2594B
*/
.dongle-regular {
    font-family: "Dongle", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
body {
background-color:hotpink;
}

