/*HTML Sizing*/
html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

body{
    font-family:'Outfit', sans-serif;
    font-optical-sizing: auto;
    margin:auto;
}
main, footer{
    width:90vw;
    margin: 40px 20px 40px 20px;
}

/*HEADER*/
header.primary{
    color:aliceblue;
    background-color:black;
    padding:20px;
    width:100%;
    display:flex;
}

header.primary h1 a{
    text-decoration:none;
    color:aliceblue;
    font-size:2.4rem;
    width:30%;
}

header.primary h2 a{
    text-decoration:none;
    color:aliceblue;
}

header.primary nav{
    width:20%;
}

header.primary nav ul{
    list-style-type:none;
    margin:0;
    padding:0;
}

header.primary nav ul li{
    margin-bottom:10px;
}

header.primary nav ul li a{
    border:5px solid aliceblue;
    background-color:aliceblue;
    border-radius:10px;
    color:black;
    display:block;
    padding:10px 10px 10px 0;
    text-align:right;
    transition:.2s;
    font-size:.9rem;
    text-decoration:none;
}

 header.primary nav ul li a:hover{
    background-color:black;
    color:aliceblue;
    text-decoration:underline;
}

article header h3{
    border-left:3px solid black;
    border-bottom:3px solid black;
    padding:6px;
}

p{
    text-indent:5ch;
}


/*FOOTER*/
#colophon{
    color:aliceblue;
    background-color:black;
    padding:20px;
    margin:auto;
    width:100%;
    display:flex;
}

#colophon nav ul{
    list-style-type:none;
}

#colophon nav ul li a{
    text-decoration:none;
    color:aliceblue;
}